{% load static %}
{% block headerinclude %}
<title>Electronickxz</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'melody/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'melody/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'melody/css/sidebar.css' %}">
<!-- css for datatable -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<style>.dropdown-button{cursor: pointer; border: none;}.dropdown-container {display: none; background-color: #262626;}
        .dropdown-container:active{background-color: #262626;}.logo-container{ width: 50px; height: 50px; margin-left: 3%;}
        .line{ height:2px;border-width:0;color:gray;background-color:gray;}a.buttonAdd:active, a.buttonAdd:hover {text-decoration: none;color: white; background-color: #6b22ff;}
        a.buttonAdd{background-color: #8a50ff;}.table{text-align: center;}
        input.display{background-color: white; padding: 2%; width: 350px; border-top: hidden; border-left: hidden; border-right: hidden;border-width: 1px;}
        .no-outline:focus{outline: none;}

        .btn{border-radius: 50px; padding-right: 18px; padding-left: 18px;}
        .btn:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); transition: 300ms;}
thead{
    background-color: #5900B3; 
    color: white; 
    text-align: center;
}

.center-txt{
    text-align: center;
}

.btn-Add:hover{
    background-color: #5900B3; 
    color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 300ms;
}

.btn-Add{
    background-color: white; 
    color: #5900B3; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    padding-left:14px; 
    padding-right: 18px; 
    font-size: 17px; 
    border-style:solid; 
    border-color: #5900B3; 
    border-radius: 50px; 
    border-width: 1px;
}

.txt{
    display:inline-block; 
    vertical-align: 3px; 
    margin-left: 5px;
}
</style>
{% endblock headerinclude %}
<!-- body -->
    <div class="container-fluid p-0">
        <!-- start of row -->
        <div class="row" id="body-row">
            <!-- start of sidebar -->
            <div id="sidebar-container" class="sidebar-expanded shadow">
            <div class="img-circle">
                {% if user.profilepicture.url is not null %}
                <img src="{{user.profilepicture.url}}" class="circle">
                {% else %}
                <img src="{% static 'melody/img/default-avatar.png' %}" class="circle">
                {% endif %}
            </div>
            {%if user is not null%}
            <center><p style="color: #D1D1D1;; margin-top: 5%; margin-bottom: 10%;">Welcome, {{user.username}}!!!</p></center>
            {%else%}
            <center><p style="color: #D1D1D1;; margin-top: 5%; margin-bottom: 10%;">Welcome, Guest!!!</p></center>
            {%endif%}
                <ul class="list-group">
                    <li class="list-group-item sidebar-separated-title d-flex">
                        <small style="color: #D1D1D1;">MAIN MENU</small>
                    </li>
                    <a class="bg-dark list-group-item list-group-item-action flex-column dropdown-button" style="font-size: 1.1rem;">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="ml-3 mr-3"><i class="material-icons">&#xe871;</i></span>Dashboard
                                <span class="ml-3"><i class="material-icons">&#xe5c5;</i></span>
                            </div>
                    </a>
                    <div class="dropdown-container">
                        <a href="#" class="bg-dark list-group-item list-group-item-action flex-column"><span class="ml-5 mr-2"><i style='font-size:24px' class='fab'>&#xf1be;</i></span>Product</a>
                    </div>
                    {%if user is not null%}
                    <a href="#" class="bg-dark list-group-item list-group-item-action flex-column" style="font-size: 1.1rem;">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="ml-3 mr-3"><i class="material-icons">&#xe853;</i></span>Profile
                        </div>
                    </a>
                    {%endif%}
                   
                </ul>
                <ul class="list-group" style="margin-top: 25%;">
                    {% if user == null %}
                    <a href="{% url 'electronickxz:login_view' %}" class="bg-dark list-group-item list-group-item-action flex-column" style="font-size: 1.1rem; border: none; color: #D1D1D1;">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="ml-5 mr-2"><i class="material-icons">&#xe879;</i></span>Log In
                        </div>
                    </a>
                    {% else %}
                    <a href="{% url 'electronickxz:logout_view' %}" class="bg-dark list-group-item list-group-item-action flex-column" style="font-size: 1.1rem; border: none; color: #D1D1D1;">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="ml-5 mr-2"><i class="material-icons">&#xe879;</i></span>Log Out
                        </div>
                    </a>
                    {% endif %}
                </ul>
            </div>

        <!-- start of content -->
        <div class="col">
            <header>
                <div class="row" style="margin-top: 1%; margin-bottom: 2%;">
                    <div class="logo-container"><img src="{% static 'melody/img/logo.png' %}" class="logo"></div>
                    <div class="col" style="margin-top: 1%; margin-right: -40%;"><h4>Electronickxz</h4></div>
                    <div class="col" style="margin-top: 2%;"><h3>PRODUCT DASHBOARD</h3></div>
                </div>       
            </header>
            <hr class="line">
            <!-- <p>
                <form id="date-filter" name="date-filter" method="POST">
                    {% csrf_token %}
                <span class="date-label">From: </span><input type="date" name = "datepicker_from" id="datepicker_from" style="margin-left: 5px;" value="">
                <span class="date-label" style="margin-left: 20px;">To:<input type="date" name = "datepicker_to" id="datepicker_to" style="margin-left: 5px;" value="">
                <span style="display:inline-block; vertical-align: 2px; margin-left: 10px;"><button type="submit" class="btn btn-outline-primary" id="btnFilter" name="btnFilter">Filter</button></span>
                <span style="display:inline-block; vertical-align: 2px; margin-left: 5px;"><a type="button" class="btn btn-outline-secondary" href="{% url 'electronickxz:index_view' %}">Refresh</a></span>
                 
            </form>
            </p> -->
            <p align="right">
                <a type="button" class="btn-Add" href="{% url 'electronickxz:checkout_view' %}"><i class="material-icons" style="font-size: 18px;">&#xe148;</i><span class="txt">Shopping Cart</span></a> 
            </p>
            <table class="table table-hover shadow" id="data-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {%for item in data%}
                        <th scope="row">{{item.id}}</th>
                        <td class="center-txt">{{item.name}}</th>
                        <td class="center-txt">{{item.price}}</th>
                        <td class="center-txt" id="link-{{item.id}}" hidden>{{item.link}}</td>
                        <td class="center-txt">
                            <a data-toggle="modal" href="#" class="addToCart" onclick="displayItem({{item.id}})" ><i class="material-icons" style="color: black; font-size: 26px;">&#xe854;</i></a>
                            <!-- <a data-toggle="modal" href="#" class="button" data-target="#modalDelete-{{song.id}}"><i class="material-icons" style="color: red; font-size:28px;">&#xe92b;</i></a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
            <div class="table">
                {% if metadata.links.previous is not null %}
                <a type="button" class="btn-Add"  onclick="changePage('{{metadata.links.previous}}')" id="goPrevious"><i class="material-icons" style="font-size: 18px;">&#xe5c4;</i><span class="txt">Prev</span></a>
                {% endif %}

                {% if metadata.links.next is not null %}
                <a type="button" class="btn-Add" onclick="changePage('{{metadata.links.next}}')" id="goNext"><span class="txt">Next</span><i class="material-icons" style="font-size: 18px;">&#xe5c8;</i></a>
                {% endif %}
            </div>
            <!--end of datatable  -->
            
            <!-- modal for View -->
            <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-view" style="background-color: #4D6AFF;">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="color: white;">Product Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                    </div>
                    <form id="buyProduct" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="modal-body">
                        <div style="margin-left: 2%; margin-right: 2%;">
                            <input type="hidden" id="modalProductId" name="product-id" value="">
                            <div class="row"> 
                                <div class="form-group col">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" placeholder="Product Name" id="modalProductName" name="product-name" value="" readonly>
                                </div>
                                <div class="form-group col">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="Item Price" id="modalProductPrice" name="product-price" value="" readonly>
                                </div>
                                <div class="form-group col">
                                    <label>Stock</label>
                                    <input type="text" class="form-control" placeholder="Item Price" id="modalProductQuantity" name="product-quantity" value="" readonly>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col">
                                    <label>Song Writer(s)</label>
                                    <textarea class="form-control" rows="2" placeholder="SongWriter(s)" name="song-writer">{{song.songwriter}}</textarea>
                                </div>
                                <div class="form-group col">
                                    <label>Producer(s)</label>
                                    <textarea class="form-control" rows="2" placeholder="Producer(s)" name="song-producer">{{song.producer}}</textarea>
                                </div>
                            </div>                        -->
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-secondary shadow" data-dismiss="modal">Close</button>
                    <button type="button" id="addToCartbtn"  name="addToCartbtn" class="btn btn-outline-primary shadow" onclick="submitModal()">Add to Cart</button>
                    </div>
                </div>
                </form>
                </div>
            </div>
        </div>
        <!-- end of content -->
    </div>
    <!-- end of row -->
</div>
<!-- end of body -->           
{% block footerinclude %}

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script> -->
    
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script> -->
    <!-- <script type="text/javascript" src="{% static 'melody/js/datatable.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-button");
        var i;
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }

        function parseGETfromUrl ( query = location.search.substring( 1 ) ) {
            query = query.slice(query.indexOf("?"));
            let parameters = {};
            for ( const [ name, value ] of new URLSearchParams( query ) ) parameters[name] = value;
            return parameters;
        }

        function changePage(url) {
            param = parseGETfromUrl( url )
            console.log(param);
            console.log(window.location)

            url = new URL(window.location.origin)
            // url.searchParams.set('token', param["token"]);
            url.searchParams.set('offset', param["offset"]);
            window.location = url
            // window.location.pathname = "/\?token=" +param["token"]

        }

        function displayItem(id){
            console.log($('#viewModal'))
            $('#viewModal').modal('toggle')
            param = parseGETfromUrl(window.location.href)
            $.ajax({
                type: "get",
                url: "http://127.0.0.1:8080/session/token",
                dataType: "text",
                success: function( token ) {
                    $.ajax({
                        type: "get",
                        url: "http://127.0.0.1:8081/api/v1/items/"+id+"?token="+token,
                        dataType: "json",
                        success: function( result ) {
                            console.log(result)
                            // console.log("wad" +id)
                            document.querySelector("#modalProductId").value = id;
                            document.querySelector("#modalProductName").value = result["name"];
                            document.querySelector("#modalProductPrice").value = result["price"];
                            document.querySelector("#modalProductQuantity").value = result["quantity"];
                            // $('#viewModal').modal('show')
                        }
                    });
                }
            });

            console.log("mawaaaaaa")

        }
        // $('#viewModal').on('show.bs.modal', function (event) {
        //     console.log("wad" +id)
        // })

        // console.log("token: " +sessionStorage.getItem('token'))

        function submitModal(){
            $.ajax({ // query url for token
                type: "get",
                url: "http://127.0.0.1:8080/session/token",
                dataType: "text",
                success: function( token ) {
                    $.ajax({ // query url for userID
                        type: "get",
                        url: "http://127.0.0.1:8080/session/userID",
                        dataType: "text",
                        success: function( userID ) {
                            $.ajax({ // post 
                                type: "post",
                                url: "http://127.0.0.1:8081/api/v1/users_cart/?token="+token,
                                data: JSON.stringify({
                                    "id": 0,
                                    "item_id": parseInt(document.querySelector("#modalProductId").value),
                                    "user_id": parseInt(userID)
                                }),
                                contentType: "application/json",
                                success: function( result ) {
                                    console.log(result)
                                    // console.log("wad" +id)
                                    $('#viewModal').modal('hide')                 
                                    location.reload();
                                }
                            });
                        }
                    });
                }
            });
        }

    </script>
    
{% endblock footerinclude %}