{% load static %}
{% block headerinclude %}
  <title>electronickxz</title>
  <!-- Meta's -->
  <meta charset="utf-8" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- /Meta's -->
  <!-- Links -->
  <!--     Fonts and icons     -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'electronickxz/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'electronickxz/css/gsdk-bootstrap-wizard.css' %}" rel="stylesheet">
  <link href="{% static 'electronickxz/css/logo.css'  %}" rel="stylesheet">
  <!--   Core JS Files   -->
  <script src="{% static 'electronickxz/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'electronickxz/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'electronickxz/js/jquery.bootstrap.wizard.js' %} " type="text/javascript"></script>
  <!--  Plugin for the Wizard -->
  <script src="{% static 'electronickxz/js/gsdk-bootstrap-wizard.js' %}"></script>
 <!--  More information about jquery.validate here: http://jqueryvalidation.org/  -->
  <script src="{% static 'electronickxz/js/jquery.validate.min.js' %}"></script>
  <!-- Scripts --> 
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
{% endblock headerinclude %}
    
<div class="image-container set-full-height" style="background-image: url({% static 'electronickxz/img/bg6.png' %})">

  <!--   Big container   -->
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
      <div class="wizard-container" >
     
                <div class="card wizard-card" data-color="violet" id="wizardProfile">
                <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                      <div class="wizard-header">
                          <h3>
                             <b>CREATE</b> YOUR PROFILE <br>
                          </h3>
                      </div>

            <div class="wizard-validation">
              <ul>
                              <li><a href="#step1" data-toggle="tab">Basic Information</a></li>                            
                          </ul>

            </div>

            <form id="form1" method="POST" autocomplete="off" enctype="multipart/form-data">
            	{% csrf_token %}
                  <div class="tab-content">
                          <!--step 1 -->
                     <div class="tab-pane" id="step1">
                        <div class="row">
                              <div class="col-sm-4 col-sm-offset-1">
                                  <div class="picture-container">
                                    <div class="picture" >
                                        <img src="{% static 'electronickxz/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title=""/>
                                          <input type="file" id="wizard-picture" name="profilepicture">
                                        </div>
                                      <h6>Choose Picture</h6>
                                    </div>
                                </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                        <label>First Name<small>(required)</small> </label>
                                        <input name="firstname" type="text" class="form-control" placeholder="First Name">
                                      </div>
                                      <div class="form-group">
                                        <label>Last Name <small>(required)</small></label>
                                        <input name="lastname" type="text" class="form-control" placeholder="Last Name">
                                      </div>
                                      <div class="form-group">
                                        <label>Username <small>(required)</small></label>
                                        <input name="username" type="text" class="form-control" placeholder="Username" required>
                                      </div>
                                      <div class="form-group">
                                        <label>Password <small>(required)</small></label>
                                      <input name="password" type="password" class="form-control" placeholder="***************" required="password" minlength="8" maxlength="15">
                                      </div>
                                  </div>
                              </div>
                            </div> 
                            <!--end of step 1-->
                        <div class="wizard-footer height-wizard">
                            <div class="pull-right">
                                <input type='submit' class='btn btn-finish btn-fill btn-primary btn-wd btn-sm' name='finish' value='submit' />
                            </div>
                        </div>

                    </form>
                </div>
            </div> <!-- wizard container -->

         </div>
        </div><!-- end row -->
    </div> <!--  big container -->

    <!-- <div class="footer">
        <div class="container">
             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
        </div>
    </div> -->

</div>
